<div class="Container-sobre">
    <div class="sobre-nos">
        <h1> Quem somos nós? </h1>
    </div>

    <div class="sections" id="conta-digital">
        <div class="item1">
            <div class="logo">
                <img class="logo2" alt="logo" src="/assets/Imagens/Vertical.svg">
            </div>
            <div class="texto">
                <p>Somos o Unus Bank o seu banco digital.
                    <br>
                    Estamos com você durante todo o seu trajeto na estrada.
                </p>
                <p>
                    Nascemos em Cascavel, no Oeste Paranaense, somos
                    pautados em solucionar as dificuldades do caminhoneiro,
                    porque entendemos o quanto é fundamental para o
                    caminhoneiro ter um banco 100% digital que compreenda
                    e facilite as questões financeiras da estrada
                </p>
                <p class="destaque">Somos o Unus Bank, o seu parceiro da estrada!</p>
            </div>

        </div>

        <div class="item2">
            <div class="informacoes">
                <h1>Conta Digital</h1>
                <h3>Integrado ao caixas eletrônicos</h3>
                <li>Banco 24 horas e saque e pague;</li>
                <br>
                <li>Operação segura - 98% dos terminais
                    localizados em pontos de segurança
                    assistida, para facilitar a vida do transportador; além de dispositivos de
                    segurança;</li>
                <br>
                <h3>Parcerias com Postos</h3>
                <br>
                <li>Operação segura - 98% dos terminais
                    localizados em pontos de segurança
                    assistida, além de dispositivos de
                    segurança;</li>
                <br>
                <li>Somos mais de 200 postos
                    credenciados pelo País;</li>
                <br>
                <h3>O banco 24 horas e Saque e
                    Pague funcionam além do
                    horário de expediente bancário.</h3>
                     <li>Somos mais de 200 postos
                    credenciados pelo País;</li>
                <br>
                <h3>Cartão Físico</h3>
                    <li>cartão de crédito (pré-pago), débito ou físico
                        com chip e NFC;</li>
            </div>

            <img alt="celular" class="celular" src="/assets/Imagens/Imagem 2 - Mockup do Smartphone.png">
        </div>


    </div>

</div>