<div class="container_vantagens" id="Vantagens">
    <div class="bloco">
        <img src="assets/Imagens/Prancheta 2.svg" alt="icone">
        <p>Com o Unus Bank você
            tem mais liberdade para
            viajar o país inteiro com
            o seu banco a um clique
            de distância</p>
    </div>
    <div class="bloco">
        <img src="assets/Imagens/Prancheta 2 cópia.svg" alt="icone">
        <p>Com o Unus Bank você
            tem mais liberdade para
            viajar o país inteiro com
            o seu banco a um clique
            de distância</p>
    </div>
    <div class="bloco">
        <img src="assets/Imagens/Prancheta 2 cópia 2.svg" alt="icone">
        <p>Com o Unus Bank você
            tem mais liberdade para
            viajar o país inteiro com
            o seu banco a um clique
            de distância</p>
    </div>
</div>