<div class="container_vantagens" id="Vantagens">
    <div class="bloco">
        <img src="assets/Imagens/Prancheta 2.svg" alt="icone">
        <p>Com o Unus Bank você
            tem mais liberdade para
            viajar o país inteiro com
            o seu banco a um clique
            de distância</p>
    </div>
    <div class="bloco">
        <img src="assets/Imagens/Prancheta 2 cópia.svg" alt="icone">
        <p>Somos um Banco Digital e o nosso
            atendimento acontece exclusivamente em
            nosso próprio App. Assim, você não precisa
            enfrentar longas filas para resolver questões
            pessoais da sua conta</p>
    </div>
    <div class="bloco">
        <img src="assets/Imagens/Prancheta 2 cópia 2.svg" alt="icone">
        <p>E ainda, somos o braço direito do
            caminhoneiro, o que garante para ele
            diferentes vantagens na operação e
            diferentes pontos de apoio financeiro ao
            longo da estrada </p>
    </div>
</div>